
@{
    ViewData["Title"] = "REEEE";
    Layout = "~/Views/Shared/_StartLayout.cshtml";
}

<h1> You choose @ViewData["SessionData"]</h1>
<p> First you need to login below to continu</p>
<p> New to the page register first</p>