
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_StartLayout.cshtml";
}

<h2>Register Page</h2><
<p> Start registeren below </p>
<p> Already an account click the login button </p>

<form>
    <button name="Register">Make me an account</button>
    <button asp-controller="User" asp-action="Index" name="Login">Login page</button>
</form>

