@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_StartLayout.cshtml";
}
<h1> Welcome to the make your own game </h1>
<p class="instructionTxt">What do you want to do?</p>
<form action="Home/PostChoice" method="post">
    <p class="instructionTxt"> Choose an option below </p>
    <label> Feel like for challange?</label> <br />
    <button name="Play"> Play the game </button><br /><br />
    <label> If you feel like makeing or editing you need to log in</label> <br />
    <button name="Make"> Make/Edit the game </button>
</form>