
@{
    ViewData["Title"] = "Index";
}
<h1>Welcome @ViewData["Username"]</h1>
<h2>Template Maker</h2>
<p> Choose an option below to edit/make/delete </p>

<button asp-controller="" asp-action="">Location</button>
<button asp-controller="" asp-action="">Npc</button>
<button asp-controller="" asp-action="">Monster</button>
<button asp-controller="" asp-action="">Item</button>
<button asp-controller="" asp-action="">Shop</button>
<button asp-controller="" asp-action="">Area</button>

