
@{
    ViewData["Title"] = "Index";
}
<h1>Welcome @ViewData["Username"]</h1>
<h2>Template Maker</h2>
<p> Choose an option below to edit/make/delete </p>

<button asp-controller="Template" asp-action="SetTemplateNameToLocation">Location</button>
<button asp-controller="Template" asp-action="SetTemplateNameToNpc">Npc</button>
<button asp-controller="Template" asp-action="SetTemplateNameToMonster">Monster</button>
<button asp-controller="Template" asp-action="SetTemplateNameToItem">Item</button>
<button asp-controller="Template" asp-action="SetTemplateNameToShop">Shop</button>
<button asp-controller="Template" asp-action="SetTemplateNameToArea">Area</button>

